*{
	margin:0;
	padding:0;
}
.profile_subscription{
	display:flex;
	margin-left:300px;
	padding-top: 100px;
	
}
.profile_info{
	position: absolute;
	padding-left: 50px;
	padding-top: 20px;

}
.profile_tab{
	background-color: lightblue;
	padding: 10px;
}
.profile_data{
	padding: 5px;
	border-bottom: 1px solid white;
}
.card{
	padding: 20px;
	border: 1px solid lightblue;
	width:200px;
	text-align: center;
	margin-left:10px;
}
.card ul li{
	list-style: none;
}